.section2 .section2-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.grid1 {
    padding: 3rem 0 0 0;
}

.section2 .section2-flex .card {
    width: 500px;
}

.section2 .card h1 {
    color: white;
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


  .section2 .flex1, .flex2, .flex3, .flex4, .flex5, .flex6, .flex7 {
    position: relative;
    text-align: center;
    color: white;
    background: black;
    overflow: hidden;
}


.section2 .flex1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.6;
}

.section2 .flex2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.6;
}

.section2 .flex3 img 
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.6;
}

.section2 .flex4 img 
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.6;
}

.section2 .flex5 img 
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.6;
}

.section2 .flex6 img 
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.6;
}

.section2 .flex7 img 
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.6;
}

.section2 .flex p {
    padding: 0 2rem;
}

.section2 .flex-icon {
    font-size: 3rem;
    color: var(--primary-color);
    font-weight: 600;
}


@media screen and (max-width:1200px) {
        .section2 .section2-flex {
        flex-wrap: wrap;
    }

    .section2 .section2-flex .flex {
        width: 51%;
        padding: 1rem;
        border: none;
    }

    .section2 .section2-flex .flex img {
        border-radius: .5rem;
    }

    /* .section2 .flex1 {
        height: 50vw;
    } */

    
}


@media screen and (max-width:600px) {

    .section2 .section2-flex .card {
        width: 100%;
        margin: 0 1rem;
    }


}