
.homepage-wrap {
    padding: 3rem 0;
}

.SoberLiving-title {
    text-align: center;
}  

.SoberLiving-title h1 {
    padding: 2rem;
}

.SoberLiving-title p {
    padding: 0 0 2rem 0;
}

  .SoberLiving-box {
      height: auto;
      display: inline-block;
      margin: 1rem;
  }
  
  .homepage-wrap li {
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
}
  
  .box-btn {
      text-align: center;
  }

