.section1-flex1 {
    display: flex;
    padding: 1rem 0;
}

.flexItems {
    width: 35.9%;
    text-align: center;
    margin: auto;
}

.flexItems h1 {
    padding: 1rem;
}


.flexItems p {
    padding: 0 2rem;
}

.flex-icon {
    font-size: 3rem;
    color: var(--primary-color);
    font-weight: 600;
}


@media screen and (max-width:940px) {
    .section1-flex1 {
        flex-wrap: wrap;
        gap: 1rem;
    }

    .flexItems {
        width: 100%;
        padding: 1rem;    
        background-color: rgb(247, 247, 247);
    }
    
}
