.section1-flex1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem 0;
}

.flexItems {
    width: 35.9%;
    text-align: center;
    padding: 2rem;
    border: 1px solid rgba(0, 0, 0, 0.241);
}

.flexItems h1 {
    padding: 1rem;
    color: rgb(57, 58, 58);
}


.flexItems p {
    padding: 0 2rem;
    color: rgb(57, 58, 58);
}

.flex-icon {
    font-size: 3rem;
    color: rgb(201, 157, 13);
    font-weight: 600;
}


@media screen and (max-width:940px) {
    .section1-flex1 {
        flex-wrap: wrap;
    }

    .flexItems {
        width: 100%;
        padding: 1rem;    
    }
    
}
