@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300&display=swap');

.card-wrap
{
  width:100%;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items:space-around;
}

.tile
{
  width:380px;
  height:300px;
  margin:10px;
  display:inline-block;
  background-size:cover;
  position:relative;
  transition: all 0.4s ease-out;
  overflow:hidden;
  color:white;
  font-family:'Roboto';
  border-radius: 10px;
}

.tile img
{
  height:100%;
  width:100%;
  position:absolute;
  top:0;
  left:0;
  z-index:0;
  transition: all 0.4s ease-out;
  border-radius: 10px;
  box-shadow: 10px 5px 5px rgba(27, 27, 27, 0.774);
}

.tile .text
{
  position:absolute;
  text-align: center;
}

.tile h1
{
  width:380px;
  color: white;
  font-size: 1rem;
  text-align: center;
  margin-top: 8rem;
}


.tile p
{
  color: white;
  margin:20px 0 0 0;
  line-height: 25px;
  opacity:0;
  transform: translateX(-200px);
  transition-delay: 0.2s;
}



.tile:hover {
/*   background-color:#99aeff; */
box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.64);
  transform:scale(1.02);
} 

.tile:hover img {
  opacity: 0.2;
} 

.cards-header {
    text-align: center;
    padding: 1rem;

}

.cards-header h1 {
  font-size: 1.5rem;
    margin: 1rem auto;
    font-family: 'Montserrat', sans-serif;
}

.cards-header p {
  font-family: 'Montserrat', sans-serif;
}

  @media (max-width: 800px) {
    .card-wrap {
      width: 100%;
    }
  
    .tile { 
      width: 60vw;
    }
  
  }


  @media (max-width: 600px) {

    .tile { 
      width: 90vw;
    }
  
  }